.gsmtc-form-send-message{
    background-color: #faee6e;
    border: 1px solid #f7e302;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

.gsmtc-form-fail-message{
    background-color: #d44a4f;
    border: 1px solid #ff030b;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

.gsmtc-form-success-message{
    background-color: #6bfa6b;
    border: 1px solid #09ba09;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}